@font-face {
    font-family: sketch;
    src: url(./fonts/DkCrayonCrumble-ddll.ttf);
}

body {
    background-color: #181818;
}

h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 50px;
    color: #fff;
    font-family: sketch;
}

p{
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    text-align: center;
}

.btn-container {
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 5em;
    gap: 2em;
}

div.fadeOut {
    opacity: 0;
}

#container {
    margin: auto;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    border: 5px solid #ff2000;
    border-radius: 25px;
    padding: 1em;

}

.cell {
    flex: 1;
    padding: 1em;
    background: #fff;
}


.new,
.clear {
    padding: .5em 1em;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    border: solid #ff2000;
    cursor: pointer;
    color: #fff;
    font-family: sketch;
    font-size: 25px;
    font-weight: 400;
}

.color-container {
    margin: auto;
    width: 500px;
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 1em;
}

.red,
.orange,
.magenta,
.purple {
    border-radius: 5px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1em;
}

.orange {
    background-color: #ff5733;
}

.red {
    background-color: #c70039;
}

.magenta {
    background-color: #900c3f;
}

.purple {
    background-color: #581845;
}